@{
    ViewData["Title"] = "Outchecking confirmation";
}
<h1>@ViewData["Title"]</h1>

<p>Do you want to confirm the outchecking of your vehicle?</p>

<div>
    <div class="col-md-4">
        <form asp-action="Receipt">
            <div class="form-group">
            <input type="submit" value="Yes" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="CheckOut">
            <div class="form-group">
            <input type="submit" value="No" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>