@{
    ViewData["Title"] = "Checking out Vehicle";
}
<h1>@ViewData["Title"]</h1>

<h4>You are checking out vehicle (vehicle number)</h4>
<p>Do you want to check out?</p>

<div class="column">
    <div class="col-md-4">
        <form asp-action="Receipt">
               
                <input type="submit" value="Confirm checkout" class="btn btn-primary" />
        </form>
        <form asp-action="Index">
               
                <input type="submit" value="Go back to the Garage" class="btn btn-primary" />
        </form>
    </div>
</div>