@model Garage3.Entities.Vehicle

@{
    ViewData["Title"] = "CheckOut";
}

<h4>You are checking out vehicle</h4>
<p>Do you want to check out?</p>


<div style="width:100%;" id="inlinebutton">
    <a asp-action = "Receipt"><button type="submit" class="btn btn-primary">Yes</button></a>
    <a asp-action = "Index"><button type="submit" class="btn btn-white">No</button></a>
</div>