@model Garage3.Entities.Vehicle

@{
    ViewData["Title"] = "CheckOut";
}

<h4>You are checking out vehicle</h4>
<p>Do you want to check out?</p>

<div class="column">
    <div class="col-md-4">
        <form asp-action="Receipt">
               
                <input type="submit" value="Confirm checkout" class="btn btn-primary" />
        </form>
        <form asp-action="Index">
               
                <input type="submit" value="Go back to the Garage" class="btn btn-primary" />
        </form>
    </div>
</div>