@{
    ViewData["Title"] = "Receipt";
}
<h1>@ViewData["Title"]</h1>

<p>Your vehicle has been outchecked. Have a nice day!</p>

<div class="col-md-4">
    <form asp-action="Index">
            <div class="form-group">
            <input type="submit" value="Go back to Garage" class="btn btn-primary" />
    </form>
</div>